* { 
    font-family: 'Courier New', Courier, monospace
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    color: white;
}

#all {
    width: 100%;
    height: 100%;
    background: rgb(2,0,36);
    position: absolute;
}
#login h2 {
    cursor: pointer;
    margin: 0;
}

#cadastro h2 {
    cursor: pointer;
    margin: 0;
}

#login {
    width: 50%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    float: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: all 1s;
}
#gif {
    width: 300px;
    height: 200px;
}

#login:hover {
    width: 90%;
    position: absolute;
    left: 0;
}

#cadastro:hover{
    width: 90%;
    position: absolute;
    right: 0;
}

#cadastro{
    width: 50%;
    height: 100%;
    background-color: red;
    float: right;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: all 1s;
    right: 0;
}

h2 {
    font-size: 40px;
}


/* LOGIN HERE */
#all2{
    width: 100%;
    height: 100%;
    background: url(../public/imagens/nogame.jpg) no-repeat;
    background-size: cover;
    display: none;
    background-repeat: no-repeat;
    background-size: cover;
}
#opc {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.644);
}
#paglogin {
    width: 650px;
    height: 300px;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    font-size: 30px;
}
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border-top: none;
    border-left: 1px solid;
    border-radius: 0px 10px 0px 10px;
    border-right: none;
    background: rgba(0, 0, 0, 0.171);
    color: #f4f4f4;
    font-size: 20px;
}
#all3 input {
    width: 100%;
    height: 18px;
    padding: 12px 20px;
    margin: 7px 0;
    border-top: none;
    border-left: 1px solid;
    border-radius: 0px 10px 0px 10px;
    border-right: none;
    background: rgba(0, 0, 0, 0.171);
    color: #f4f4f4;
    font-size: 20px;
}


#imglogin {
    width: 40%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#imagemlogin {
    width: 70%;
    height: 60%;
}

#btn1 {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5%;
    font-size: 25px;
    margin-top: 2%;
    right: 0;
    bottom: 0;
    color: white;
    position: absolute;
    background: rgba(0, 0, 0, 0.609);
}

#btn1:hover {
    box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.849);
    background: rgba(255, 255, 255, 0.876);
    color: black;
    border: 1px solid black;
}

#paglogin li,ul {
    font-size: 20px;
    text-decoration: none;
    list-style: none;
    padding-bottom: 1%;
    padding-left: 0;
}
#paglogin a {
    color: white;
}
/* CADASTRO HERE */

#all3 {
    width: 100%;
    height: 100%;
    background: url(../public/imagens/fundoestrelas.jpg) center no-repeat;
    background-size: cover;
    display: none;
}

#pagcadastro {
    width: 650px;
    height: 300px;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    font-size: 30px;
}

#btn2 {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5%;
    font-size: 25px;
    margin-top: 2%;
    right: 0;
    color: white;
    position: absolute;
    background: rgba(0, 0, 0, 0.609);
}

#btn2:hover {
    box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.849);
    background: rgba(255, 255, 255, 0.876);
    color: black;
    border: 1px solid black;
}
