* { 
    font-family: 'Courier New', Courier, monospace
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    color: white;
}

#all {
    width: 100%;
    height: 100%;
    background: rgb(2,0,36);
    position: absolute;
}
#login h2 {
    cursor: pointer;
}
#cadastro h2 {
    cursor: pointer;
}

#login {
    width: 50%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}

#login:hover {
    width: 90%;
    position: absolute;
    left: 0;
}

#cadastro:hover{
    width: 90%;
    position: absolute;
    right: 0;
}

#cadastro{
    width: 50%;
    height: 100%;
    background-color: rgba(227,15,15,1);
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    right: 0;
}

h2 {
    font-size: 40px;
}


/* LOGIN HERE */
#all2{
    width: 100%;
    height: 100%;
    background: url(../Site-individual/imagens/valedofim.jpg);
    display: none;
    background-repeat: no-repeat;
    background-size: cover;
}
#paglogin {
    width: 650px;
    height: 300px;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    font-size: 30px;
}
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(139, 39, 39);
}

#imglogin {
    width: 40%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#imagemlogin {
    width: 70%;
    height: 60%;
}

#btn1 {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5%;
    font-size: 25px;
    margin-top: 2%;
    right: 0;
    bottom: 0;
    color: white;
    position: absolute;
    background: rgba(0, 0, 0, 0.609);
}

#btn1:hover {
    box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.849);
    background: rgba(255, 255, 255, 0.876);
    color: black;
    border: 1px solid black;
}

#paglogin li,ul {
    font-size: 20px;
    text-decoration: none;
    list-style: none;
    padding-bottom: 1%;
    padding-left: 0;
}
#paglogin a {
    color: white;
}
/* CADASTRO HERE */

#all3 {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgb(0, 0, 0,1) 0%, rgba(227,15,15,1) 50%, rgba(0,0,0,1) 100%);
    display: none;
}

#pagcadastro {
    width: 650px;
    height: 300px;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    font-size: 30px;
}

#btn2 {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5%;
    font-size: 25px;
    margin-top: 2%;
    right: 0;
    color: white;
    position: absolute;
    background: rgba(0, 0, 0, 0.609);
}

#btn2:hover {
    box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.849);
    background: rgba(255, 255, 255, 0.876);
    color: black;
    border: 1px solid black;
}
